Import library

In [1]:
import sqlite3 
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
db_path = "/Users/shangweisong/Desktop/AIAP_Student_score/data/score.db"

conn = sqlite3.connect(db_path)
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)

print("Tables in the database:", tables)

# Load a specific table into a DataFrame

df = pd.read_sql_query("SELECT * FROM score;", conn)  # replace with your table name

# Preview the data
print(df.head())
conn.close

Tables in the database:     name
0  score
   index  number_of_siblings direct_admission     CCA learning_style  \
0      0                   0              Yes  Sports         Visual
1      1                   2               No  Sports       Auditory
2      2                   0              Yes    None         Visual
3      3                   1               No   Clubs       Auditory
4      4                   0               No  Sports       Auditory

  student_id  gender tuition  final_test  n_male  n_female   age  \
0     ACN2BE  Female      No        69.0    14.0       2.0  16.0
1     FGXIIZ  Female      No        47.0     4.0      19.0  16.0
2     B9AI9F    Male      No        85.0    14.0       2.0  15.0
3     FEVM1T  Female     Yes        64.0     2.0      20.0  15.0
4     AXZN2E    Male      No        66.0    24.0       3.0  16.0

   hours_per_week  attendance_rate sleep_time wake_time  mode_of_transport  \
0            10.0             91.0      22:00      6:00  private transport
1             7.0             94.0      22:30      6:30  private transport
2             8.0             92.0      22:30      6:30  private transport
3            18.0              NaN      21:00      5:00   public transport
4             7.0             95.0      21:30      5:30   public transport

  bag_color
0    yellow
1     green
2     white
3    yellow
4    yellow

QUICK LOOK AT DATA WITH DATA WRANGLER

In [3]:
df.head()

,index,number_of_siblings,direct_admission,CCA,learning_style,student_id,gender,tuition,final_test,n_male,n_female,age,hours_per_week,attendance_rate,sleep_time,wake_time,mode_of_transport,bag_color
0,0,0,Yes,Sports,Visual,ACN2BE,Female,No,69.0,14.0,2.0,16.0,10.0,91.0,22:00,6:00,private transport,yellow
1,1,2,No,Sports,Auditory,FGXIIZ,Female,No,47.0,4.0,19.0,16.0,7.0,94.0,22:30,6:30,private transport,green
2,2,0,Yes,None,Visual,B9AI9F,Male,No,85.0,14.0,2.0,15.0,8.0,92.0,22:30,6:30,private transport,white
3,3,1,No,Clubs,Auditory,FEVM1T,Female,Yes,64.0,2.0,20.0,15.0,18.0,NaN,21:00,5:00,public transport,yellow
4,4,0,No,Sports,Auditory,AXZN2E,Male,No,66.0,24.0,3.0,16.0,7.0,95.0,21:30,5:30,public transport,yellow

In [ ]:
# Remove duplicate data
# # observe if the duplicates are small
# duplicates = df[df.duplicated(subset='student_id', keep=False)]

# print("\nTable of Duplicate Rows Based on 'student_id':")
# print(duplicates)

df_distinct= df.drop_duplicates(subset='student_id', keep = 'first')
print(df_distinct)

In [ ]:
#  observe the number of missing data in each column
missing_values = df.isnull().sum()
print("Number of missing values in each column:")
print(missing_values)

Number of missing values in each column:
index                   0
number_of_siblings      0
direct_admission        0
CCA                     0
learning_style          0
student_id              0
gender                  0
tuition                 0
final_test            495
n_male                  0
n_female                0
age                     0
hours_per_week          0
attendance_rate       778
sleep_time              0
wake_time               0
mode_of_transport       0
bag_color               0
dtype: int64

In [4]:
print(df.info())       # Data types and non-null counts
print(df.describe())   # Summary statistics for numerical columns
print(df.columns)      # List of column names
print(df.dtypes)       # Data types of each column
print(df.isnull().sum())  # Count of missing values in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15900 entries, 0 to 15899
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               15900 non-null  int64
 1   number_of_siblings  15900 non-null  int64
 2   direct_admission    15900 non-null  object
 3   CCA                 15900 non-null  object
 4   learning_style      15900 non-null  object
 5   student_id          15900 non-null  object
 6   gender              15900 non-null  object
 7   tuition             15900 non-null  object
 8   final_test          15405 non-null  float64
 9   n_male              15900 non-null  float64
 10  n_female            15900 non-null  float64
 11  age                 15900 non-null  float64
 12  hours_per_week      15900 non-null  float64
 13  attendance_rate     15122 non-null  float64
 14  sleep_time          15900 non-null  object
 15  wake_time           15900 non-null  object
 16  mode_of_transport   15900 non-null  object
 17  bag_color           15900 non-null  object
dtypes: float64(6), int64(2), object(10)
memory usage: 2.2+ MB
None
              index  number_of_siblings    final_test        n_male  \
count  15900.000000        15900.000000  15405.000000  15900.000000
mean    7949.500000            0.886541     67.165401     13.880000
std     4590.078975            0.751346     13.977879      6.552584
min        0.000000            0.000000     32.000000      0.000000
25%     3974.750000            0.000000     56.000000     10.000000
50%     7949.500000            1.000000     68.000000     14.000000
75%    11924.250000            1.000000     78.000000     18.000000
max    15899.000000            2.000000    100.000000     31.000000

           n_female           age  hours_per_week  attendance_rate
count  15900.000000  15900.000000    15900.000000     15122.000000
mean       8.906038     15.213459       10.312579        93.270268
std        6.663852      1.758941        4.461861         7.984230
min        0.000000     -5.000000        0.000000        40.000000
25%        4.000000     15.000000        7.000000        92.000000
50%        8.000000     15.000000        9.000000        95.000000
75%       13.000000     16.000000       14.000000        97.000000
max       31.000000     16.000000       20.000000       100.000000
Index(['index', 'number_of_siblings', 'direct_admission', 'CCA',
       'learning_style', 'student_id', 'gender', 'tuition', 'final_test',
       'n_male', 'n_female', 'age', 'hours_per_week', 'attendance_rate',
       'sleep_time', 'wake_time', 'mode_of_transport', 'bag_color'],
      dtype='object')
index                   int64
number_of_siblings      int64
direct_admission       object
CCA                    object
learning_style         object
student_id             object
gender                 object
tuition                object
final_test            float64
n_male                float64
n_female              float64
age                   float64
hours_per_week        float64
attendance_rate       float64
sleep_time             object
wake_time              object
mode_of_transport      object
bag_color              object
dtype: object
index                   0
number_of_siblings      0
direct_admission        0
CCA                     0
learning_style          0
student_id              0
gender                  0
tuition                 0
final_test            495
n_male                  0
n_female                0
age                     0
hours_per_week          0
attendance_rate       778
sleep_time              0
wake_time               0
mode_of_transport       0
bag_color               0
dtype: int64

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Histogram of a specific numeric column
# df['column_name'].hist()
# plt.show()

# # Pairplot for numerical features
# sns.pairplot(df)
# plt.show()

Matplotlib is building the font cache; this may take a moment.

KeyError: 'column_name'